*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.div1{
  width: 300px;
  margin: 100px auto;
  text-align: center;
  border: 2px solid black;
  padding:20px;
  border-radius:10px;
  color: rgb(15, 3, 1);
  background-color: aqua;
}