*{
    margin:0;
    padding:0;
}

body{
    padding: 23px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;  
}
div{
    padding: 12px;
     gap: 22px;
    align-items: center;
}
input{
    margin:2px;
    color: #720e0e;
    background-color: rgb(252, 250, 249);
}
button{
    margin: 2px;
    border-radius:1px;
    padding:2px;
    color: #000;
    background-color: rgb(173, 171, 234);
}