
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f4f4;
    color: #100101;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}


nav {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background: #2c2121;
    padding: 12px 20px;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    color: rgb(29, 28, 28);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #00d1ff;
}

form {
    width: 350px;
    margin: 40px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

form button {
    width: 100%;
    padding: 12px;
    background: #0077ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #005fd1;
}

#todos-container {
    width: 80%;
    margin: 20px auto;
}

.todo-item {
    background: white;
    padding: 15px;
    margin: 12px 0;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.todo-item h4 {
    margin: 0 0 8px;
}

.todo-item p {
    margin: 4px 0;
}

.completed {
    color: green;
    font-weight: bold;
}

.pending {
    color: red;
    font-weight: bold;
}


footer {
    background: #111;
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}
