*{
  margin:0;
  padding:0;
}
body{
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  padding:50%;
}

button{
  margin:1px;
  padding: 4px 10px;
  font-size: 27px;
  font-weight: bold;
  border-radius:8px;
  border: none;
  color: #fbf4f4;
  background-color: rgb(181, 50, 10);
}

h3{
  color: #000;
  margin-left:23px;
  padding: 10px;
}