body {
  font-family: Arial, sans-serif;
  background-color: #7c9dbe;
  padding:30%;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 40px;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #040129;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #45a049;
  color: #000;
  font-size: 16px;
}

h2 {
  color: #140101;
  margin-top: 20px;
}
