*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color: rgb(217, 241, 247);
   margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 580px;
  height:400px;
  margin: 60px auto;
  padding: 20px;
  background: #fffefe;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

video {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
  background: #000;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.btnContainer button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
  background: #a3a0dc;
  color:white;
  transition: all 0.2s ease;
}

.btnContainer button:hover {
  background: #645eb6;
  transform: translateY(-2px);
}

.btnContainer button:active {
  transform: scale(0.95);
}
