body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2, h3 {
  text-align: center;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  background-color: #7d27f6;
  transition: 0.3s;
  color: #f9efef;
}
p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}
